<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="shortcut icon" href="http://tmr4sa.natappfree.cc/img/logo.png">
    <title>
        部落格

        - 文章列表
    </title>
    <link rel="stylesheet" href="./admin_articles/layui.css">
    <link rel="stylesheet" href="./admin_articles/back.css">
    <link rel="stylesheet" href="./index/font-awesome.min.css">
    <style>
        /*覆盖 layui*/
        .layui-input {
            display: inline-block;
            width: 33.333% !important;
        }

        .layui-input-block {
            margin: 0px 10px;
        }
    </style>
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
    <link id="layuicss-laydate" rel="stylesheet" href="./index/laydate.css" media="all">
    <link id="layuicss-layer" rel="stylesheet" href="./index/layer.css" media="all">
    <link id="layuicss-skincodecss" rel="stylesheet" href="./index/code.css" media="all">
</head>

<body>
    <div class="layui-layout layui-layout-admin" id="page" v-cloak>
        <div class="layui-header">
            <div class="layui-logo"><a href="./admin_articles.html" style="color:#009688;">
                    部落格后台
                </a>
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;">新建<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a href="./admin_articles.html">文章</a></dd>
                        <dd><a href="http://tmr4sa.natappfree.cc/admin/page/insert">页面</a></dd>
                        <dd><a href="http://tmr4sa.natappfree.cc/admin/category/insert">分类</a></dd>
                        <dd><a href="http://tmr4sa.natappfree.cc/admin/notice/insert">公告</a></dd>
                        <dd><a href="http://tmr4sa.natappfree.cc/admin/link/insert">链接</a></dd>
                    </dl>
                </li> -->
                <span class="layui-nav-bar"></span>
            </ul>

            <ul class="layui-nav layui-layout-right">
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="./admin_articles/avatar1.jpg" class="layui-nav-img">
                        admin<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="http://tmr4sa.natappfree.cc/admin/profile">基本资料</a></dd>
                    </dl>
                </li> -->
                <li class="layui-nav-item"><a href="./index.html" target="_blank">前台</a></li>
                <li class="layui-nav-item">
                    <span onclick="deleteTokenCookie()" class="layui-btn layui-btn-mini layui-btn-primary">退出登录</span>
                    <!-- <a href="http://tmr4sa.natappfree.cc/admin/logout">退出登录</a> -->
                </li>
                <span class="layui-nav-bar"></span>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->

                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">文章<span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/article">全部文章</a></dd>
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/article/insert">写文章</a></dd>
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/category">全部分类</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">
                            链接
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/link">全部链接</a></dd>
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/link/insert">添加链接</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">公告<span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/notice">全部公告</a></dd>
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/notice/insert">添加公告</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">设置<span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/menu">菜单</a></dd>
                            <dd><a href="http://tmr4sa.natappfree.cc/admin/options">主要选项</a></dd>
                        </dl>
                    </li>
                    <span class="layui-nav-bar" style="top: 22.5px; height: 0px; opacity: 0;"></span>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <blockquote class="layui-elem-quote">
                    <span class="layui-breadcrumb" lay-separator="/" style="visibility: visible;">
                        <a href="./admin_articles.html">后台首页<span class="layui-box">/</span></a>
                        <a><cite>文章列表</cite></a>
                    </span>
                </blockquote>

                <div class="layui-tab layui-tab-card">
                    <form id="articleForm" method="post">
                        <input type="hidden" name="currentUrl" id="currentUrl" value="">

                        <!-- 表格 -->
                        <table class="layui-table">
                            <colgroup>
                                <col width="300">
                                <col width="150">
                                <col width="70">
                                <col width="150">
                                <col width="50">
                                <col width="150">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>所属分类</th>
                                    <th>状态</th>
                                    <th>更新时间</th>
                                    <th>id</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="article in articles_data.list">
                                    <td style="display: table-cell;vertical-align: middle">
                                        <a v-bind:href="['./article_detail.html?articleId=' + article.articleId]"
                                            target="_blank">
                                            {{article.articleTitle}}</a>
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle">
                                        <a v-for="category in article.categoryList"
                                            v-bind:href="['./category.html?categoryId=' + category.categoryId]"
                                            target=" _blank">{{category.categoryName}} &nbsp;</a>
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle">
                                        <a href="http://tmr4sa.natappfree.cc/admin/article?status=1">
                                            <span v-if="article.articleStatus === 1" style="color:#5FB878;">已发布</span>
                                            <span v-else style="color:#FF5722;">草稿</span>
                                        </a>
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle">{{article.articleUpdateTime}}
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle">{{article.articleId}}</td>
                                    <td style="display: table-cell;vertical-align: middle">
                                        <a v-bind:href="['./edit_article.html?articleId=' + article.articleId]"
                                            class="layui-btn layui-btn-sm">编辑</a>
                                        <!-- <a href="javascript:void(0)" onclick="deleteArticle(article.articleId)"
                                            class="layui-btn layui-btn-danger layui-btn-sm">删除</a> -->

                                        <a href="javascript:void(0)" v-on:click="deleteArticle(article.articleId)"
                                            class="layui-btn layui-btn-danger layui-btn-sm">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <!-- 页码 -->
                    <nav class="navigation pagination" role="navigation">
                        <div class="nav-links">
                            <a v-for="pageNo in articles_data.navigatepageNums" class="page-numbers"
                                v-bind:class="{current: articles_data.pageNum == pageNo }"
                                v-bind:href="['./admin_articles.html?pageIndex=' + pageNo]">{{pageNo}}</a>
                            <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </nav>
                </div>

            </div>
        </div>

        <!-- <div class="layui-footer">
            © <a href="http://blog.liuyanzhao.com/">部落格</a> 2017 欢迎加入开发者交流群 590480292，博主免费回答大家日常问题。同时博主代做毕设，解决开发问题，详情参看
            <a href="https://liuyanzhao.com/shop.html" target="_blank">有偿服务</a>
        </div> -->
    </div>

    <script src="./admin_articles/jquery.min.js"></script>
    <script src="./admin_articles/layui.all.js"></script>
    <script src="./admin_articles/back.js"></script>
    <script></script>
    <script>
        //给文本编辑器的iframe引入代码高亮的css
        $("iframe").contents().find("head").append("<link rel=\"stylesheet\" href=\"/article_detail_files/highlight.css\">\n");

    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script>
        // var domain = "http://4snyng.natappfree.cc";
        var domain = "http://localhost:8080/MyBlog_war_exploded";
        var local = "127.0.0.1/";

        function getQueryVariable(variable) {
            let query = window.location.search.substring(1);
            let vars = query.split("&");
            for (let i = 0; i < vars.length; i++) {
                let pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return 0;
        }

        function getTokenCookie() {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var arr = cookies[i].split("=");
                var name = arr[0];
                var value = arr[1];
                if (name == 'token') {
                    return value;
                }
            }
            return null;
        }

        function deleteTokenCookie() {
            document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
            window.location.href = "/login.html";
        }

        var str = window.location.search;
        var pageIndex = getQueryVariable("pageIndex");
        if (pageIndex == 0) {
            pageIndex = 1;
        }
        var app = new Vue({
            el: '#page',
            data() {
                return {
                    articles_data: {
                        "pageNum": 1,
                        "pages": 3,
                        "list": [
                            {
                                "articleId": 32,
                                "articleTitle": "helloword",
                                "articleSummary": "hello world",
                                "articleStatus": 1,
                                "articleCreateTime": 1543179905000,
                                "articleUpdateTime": 1556228578000,
                                "articleViewCount": 14,
                                "articlePicUrl": "/",
                                "categoryList": [
                                    {
                                        "categoryId": 15,
                                        "categoryPid": 0,
                                        "categoryName": "其他技术",
                                        "categoryOrder": null,
                                        "articleCount": null
                                    }
                                ]
                            }
                        ],
                        "navigatepageNums": [
                            1,
                            2,
                            3
                        ]
                    }
                }
            },
            mounted() {
                this.getArticles();
            },
            methods: {
                getArticles: function () {
                    var token = getTokenCookie();
                    console.log(token);

                    axios.get(domain + "/admin/index", {
                        params: {
                            pageIndex: pageIndex,
                            token: token
                        }
                    }).then(response => {
                        console.log(response);
                        if (response.data.code == 100) {
                            this.articles_data = response.data.data;
                            console.log(this.articles_data);
                        } else if (response.data.code == 503) {
                            alert("token无效，获取文章失败");
                        }
                    }).catch(function (error) {
                        console.log(error);
                        console.log(1);
                        window.location.href="/login.html";
                        // alert('articles axios failed');
                    });
                }
            }
        });
    </script>

</body>

</html>